<div style="padding-left: 100px;">
    <h1>Add Order</h1>
    <form [formGroup]="orderForms" (ngSubmit)="saveOrders()">
        <div>
            <label for="customerid">Customer Id:</label>
            <input type="text" id="customerid" formControlName="customerid">
        </div>
        <div>
            <label for="type">Type:</label>
            <input type="text" id="type" formControlName="type">
        </div>
        <div>
            <label for="number">NUMBER:</label>
            <input type="number" id="number" formControlName="number">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id="description" formControlName="description">
        </div>
        <div *ngIf="orderForms.valid">
            <input type="submit" value="Save Order">
        </div>
    </form>
</div>

<h4>Form Status: {{orderForms.valid}}</h4>
<h4>Form json: {{orderForms.value    |   json}}</h4>