<div style="padding-left: 100px;">
    <h1>Update restaurant</h1>
    <form [formGroup]="restaurantForms" (ngSubmit)="updaterestaurant()">
        <div>
            <label for="id">ID:</label>
            <input type="number" id="id" formControlName="id">
        </div>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" formControlName="name">
        </div>
        <div>
            <label for="type">Type:</label>
            <input type="text" id="type" formControlName="type">
        </div>
        <div>
            <label for="description">E-mail:</label>
            <input type="text" id="description" formControlName="description">
        </div>
        <div>
            <label for="address">Address:</label>
            <input type="text" id="address" formControlName="address">
        </div>
        <div *ngIf="restaurantForms.valid">
            <input type="submit" value="Save Restaurant">
        </div>
    </form>
</div>

<h4>Form Status: {{restaurantForms.valid}}</h4>
<h4>Form json: {{restaurantForms.value    |   json}}</h4>