<div style="padding-left: 100px;">
    <h1>Add Sell</h1>
    <form [formGroup]="sellForms" (ngSubmit)="saveSell()">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" formControlName="name">
        </div>
        <div>
            <label for="Type">Type:</label>
            <input type="text" id="type" formControlName="type">
        </div>
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" formControlName="description">
        </div>
        <div *ngIf="sellForms.valid">
            <input type="submit" value="Save Sell">
        </div>
    </form>
</div>

<h4>Form Status: {{sellForms.valid}}</h4>
<h4>Form json: {{sellForms.value    |   json}}</h4>