
<h1 [ngClass]="isGreen? 'title-green':'title-red'" >{{title}}</h1>
<h2 *ngIf="restaurants.length<1">No Data</h2>
<div style= "margin: 20px; float:right">
  <button class="button" (click)="addrestaurant()"> Add Restaurant</button>
</div>
<div style= "margin: 20px; float:right">
  <button class="buttn" (click)="updaterestaurant()"> Update Restaurant</button>
</div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>name</th>
      <th>type</th>
      <th>description</th>
      <th>address</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let restaurant of restaurants">
      <td>{{ restaurant.id }}</td>
      <td>{{ restaurant.name }}</td>
      <td>{{ restaurant.type }}</td>
      <td>{{ restaurant.description }}</td>
      <td>{{ restaurant.address }}</td>
      <td>
        <button (click)="deleteRestaurant(restaurant.id)" style ="color: red;">Delete</button>
      </td>
    </tr>
  </tbody>
</table>